<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add key="DBSelfLink" value="123" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="AzureRedis" connectionString="Data Source=appdb.renweb;Initial Catalog=_MailProcessor;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>